<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chat Rooms</title>

  <link rel="stylesheet" href="styleIndex.css" />

  <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
  <script defer src="script.js"></script>
</head>
<body>

    <nav class="menu">
    <div class="menu-items">
          <img src="/Sketch_icon.png" class="icon">
          <div class="links">
            <a class="item" id="btnabt">About</a>
            <a class="item" id="btnrls">Rules</a>
          </div>
          <div class="icon"></div>
    </div>
  </nav>

  <img src="/SketchStream.png" id="sketchstreamimg">
  <div class="container">

    <h1 class="title">Available Rooms</h1>

    <div id="room-container" class="room-list">
      <% Object.keys(rooms).forEach(room => { %>
        <div class="room-item">
          <span class="room-name"><%= room %></span>
          <% const playerCount = Object.keys(rooms[room].users).length %>
          <span class="player-count"><%= playerCount %> / 4</span>

          <% if (rooms[room].started) { %>
            <span class="room-locked">Game in Progress</span>
          <% } else if (playerCount < 4) { %>
            <a class="join-btn" href="/<%= room %>">Join</a>
          <% } else { %>
            <span class="room-full">Room Full</span>
          <% } %>
        </div>
      <% }) %>
    </div>

    <form action="/room" method="POST" class="new-room-form">
      <input name="room" type="text" placeholder="Enter a room name..." required>
      <button type="submit">Create Room</button>
    </form>

  </div>
    <div class="about" id="about">
      <div class="about-box">
        <div class="about-nav">
          <button class="close-about" id="closeabt">Close</button>
        </div>
        <p style="padding-left: 20px; padding-right: 20px; text-align: center;">This game was developed as the final project for the “Tecnologias Web” class, for the Multimedia Masters in Faculdade de Engenharia da Universidade do Porto.</p>
        <div class="threemusketeers">
          <div class="oneofus" style="grid-column: 1 / span 1">
            <img src="/chad.jpg" class="chad">
            <p>David Pinto</p>
            <p><b>Design</b></p>
          </div>

          <div class="oneofus" style="grid-column: 2 / span 1">
            <img src="/chad.jpg" class="chad">
            <p>Gabriel Lindo</p>
            <p><b>Game Logic</b></p>
          </div>

          <div class="oneofus" style="grid-column: 3 / span 1">
            <img src="/chad.jpg" class="chad">
            <p>Hugo Ramos</p>
            <p><b>Server </b></p>
          </div>
        </div>
      </div>
    </div>

    <div class="rules" id="rules">
      <div class="rules-box">
        <div class="rules-nav">
          <button class="close-rules" id="closerls">Close</button>
        </div>
        <div class="rulesgrid">
          <div class="rulestab" style="grid-column: 1 / span 1">
            <p style="font-size:larger;"><b>Draw the given word</b></p>
            <p>When you’re drawing, don’t simply write the word that appears - try your hardest to translate it into an image! You can change the size and color of your brush - the only limit is your imagination! And the timer. The longer it takes to answer correctly, the least points you and the other player receive - so make sure to be as clear as possible!</p>
          </div>

          <div class="rulestab" style="grid-column: 2 / span 1">
            <p style="font-size:larger;"><b>Guess in the chat</b></p>
            <p>You can send messages in the chat, to either talk with the other player, or guess the word when it’s time to play. When playing against more friends, only the first correct answer will give points, so try to be as fast as possible!</p>
          </div>

        </div>
      </div>
    </div>
  <script>
    let about = document.getElementById("about");
    let rules = document.getElementById("rules")
    let btnabt = document.getElementById("btnabt");
    let btnrls = document.getElementById("btnrls");
    let closeabt = document.getElementById("closeabt")
    let closerls = document.getElementById("closerls")


    btnabt.addEventListener("click", function(){
      about.style.visibility = "visible";
    });

      closeabt.addEventListener("click", function(){
      about.style.visibility = "hidden";
    });

      btnrls.addEventListener("click", function(){
      rules.style.visibility = "visible";
    });

      closerls.addEventListener("click", function(){
      rules.style.visibility = "hidden";
    });
  </script>

</body>
</html>