<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chat Rooms</title>

  <link rel="stylesheet" href="styleIndex.css" />

  <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
  <script defer src="script.js"></script>
</head>
<body>

  <div class="container">

    <h1 class="title">Available Rooms</h1>

    <div id="room-container" class="room-list">
      <% Object.keys(rooms).forEach(room => { %>
        <div class="room-item">
          <span class="room-name"><%= room %></span>
          <% const playerCount = Object.keys(rooms[room].users).length %>
          <span class="player-count"><%= playerCount %> / 4</span>
          <% if (playerCount < 4) { %>
            <a class="join-btn" href="/<%= room %>">Join</a>
          <% } else { %>
            <span class="room-full">Room Full</span>
          <% } %>
        </div>
      <% }) %>
    </div>

    <form action="/room" method="POST" class="new-room-form">
      <input name="room" type="text" placeholder="Enter a room name..." required>
      <button type="submit">Create Room</button>
    </form>

  </div>

</body>
</html>