<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <link rel="stylesheet" href="styleRoom.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SketchStream</title>
    <script>
      const roomName = "<%= roomName %>"
    </script>
    <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script type="module" src="client.js"></script>
  </head>
  <body>

    <nav class="menu">
      <div class="menu-items">
            <img src="/Sketch_icon.png" class="icon">
            <div class="links">
              <a class="item" id="btnabt">About</a>
              <a class="item" id="btnrls">Rules</a>
            </div>
            <div class="icon"></div>
      </div>
    </nav>
    <header>
      <h2 id="timer">Time left: 60s</h2>
      <h2 id="round">Round: 0 / 0</h2>
      <h1 id="artHeader">The word is: <span id="wordCont"></span></h1>
      <h1 id="notartHeader" hidden>Guess the word being drawn!</h1>
    </header>
    <div class="container">
      <div class="score-panel">
        
      </div>
      <div class="chat-panel">
        <div id="message-container" class="messages"></div>
        
        <form id="send-container">
          <input type="text" id="message-input" placeholder="Type a message..." autocomplete="off"/>
          <button type="submit">Send</button>
        </form>
      </div>

      <canvas id="draw" width="600" height="500"></canvas>

      <div id="controls" class="panel">
        <h3>Tools</h3>

        <label>Color:</label>
        <div id="color-options" class="color-row">
          <div class="color-btn" data-color="#000" style="background:#000"></div>
          <div class="color-btn" data-color="#ff0000" style="background:#ff0000"></div>
          <div class="color-btn" data-color="#00ff00" style="background:#00ff00"></div>
          <div class="color-btn" data-color="#0000ff" style="background:#0000ff"></div>
          <div class="color-btn" data-color="#ffff00" style="background:#ffff00"></div>
        </div>

        <div id="color-options" class="color-row">
          <div class="color-btn" data-color="#444" style="background:#444"></div>
          <div class="color-btn" data-color="#ff4444" style="background:#ff4444"></div>
          <div class="color-btn" data-color="#44ff44" style="background:#44ff44"></div>
          <div class="color-btn" data-color="#4444ff" style="background:#4444ff"></div>
          <div class="color-btn" data-color="#ffff44" style="background:#ffff44"></div>
        </div>

        <div id="color-options" class="color-row">
          <div class="color-btn" data-color="#888" style="background:#888"></div>
          <div class="color-btn" data-color="#ff8888" style="background:#ff8888"></div>
          <div class="color-btn" data-color="#88ff88" style="background:#88ff88"></div>
          <div class="color-btn" data-color="#8888ff" style="background:#8888ff"></div>
          <div class="color-btn" data-color="#ffff88" style="background:#ffff88"></div>
        </div>

        <div id="color-options" class="color-row">
          <div class="color-btn" data-color="#aaa" style="background:#aaa"></div>
          <div class="color-btn" data-color="#ffaaaa" style="background:#ffaaaa"></div>
          <div class="color-btn" data-color="#aaffaa" style="background:#aaffaa"></div>
          <div class="color-btn" data-color="#aaaaff" style="background:#aaaaff"></div>
          <div class="color-btn" data-color="#ffffaa" style="background:#ffffaa"></div>
        </div>

        <label>Brush Size:</label>
        <input id="brush-size" type="range" min="1" max="40" value="3" />

        <button id="eraser" class="tool-btn">Eraser</button>
        <button id="clear" class="tool-btn">Clear</button>
      </div>
    </div>
    <footer>
      <button id="start-game" class="fot-btn" hidden>Start Game</button>
      <button id="disconnect" class="fot-btn">Disconnect</button>
    </footer>

            <div class="about" id="about">
      <div class="about-box">
        <div class="about-nav">
          <button class="close-about" id="closeabt">Close</button>
        </div>
        <p style="padding-left: 20px; padding-right: 20px; text-align: center;">This game was developed as the final project for the “Tecnologias Web” class, for the Multimedia Masters in Faculdade de Engenharia da Universidade do Porto.</p>
        <div class="threemusketeers">
          <div class="oneofus" style="grid-column: 1 / span 1">
            <img src="/chad.jpg" class="chad">
            <p>David Pinto</p>
            <p><b>Design</b></p>
          </div>

          <div class="oneofus" style="grid-column: 2 / span 1">
            <img src="/chad.jpg" class="chad">
            <p>Gabriel Lindo</p>
            <p><b>Game Logic</b></p>
          </div>

          <div class="oneofus" style="grid-column: 3 / span 1">
            <img src="/chad.jpg" class="chad">
            <p>Hugo Ramos</p>
            <p><b>Server </b></p>
          </div>
        </div>
      </div>
    </div>

    <div class="rules" id="rules">
      <div class="rules-box">
        <div class="rules-nav">
          <button class="close-rules" id="closerls">Close</button>
        </div>
        <div class="rulesgrid">
          <div class="rulestab" style="grid-column: 1 / span 1">
            <p style="font-size:larger;"><b>Draw the given word</b></p>
            <p>When you’re drawing, don’t simply write the word that appears - try your hardest to translate it into an image! You can change the size and color of your brush - the only limit is your imagination! And the timer. The longer it takes to answer correctly, the least points you and the other player receive - so make sure to be as clear as possible!</p>
          </div>

          <div class="rulestab" style="grid-column: 2 / span 1">
            <p style="font-size:larger;"><b>Guess in the chat</b></p>
            <p>You can send messages in the chat, to either talk with the other player, or guess the word when it’s time to play. When playing against more friends, only the first correct answer will give points, so try to be as fast as possible!</p>
          </div>

        </div>
      </div>
    </div>

  <script>
    let about = document.getElementById("about");
    let rules = document.getElementById("rules")
    let btnabt = document.getElementById("btnabt");
    let btnrls = document.getElementById("btnrls");
    let closeabt = document.getElementById("closeabt")
    let closerls = document.getElementById("closerls")


    btnabt.addEventListener("click", function(){
      about.style.visibility = "visible";
    });

      closeabt.addEventListener("click", function(){
      about.style.visibility = "hidden";
    });

      btnrls.addEventListener("click", function(){
      rules.style.visibility = "visible";
    });

      closerls.addEventListener("click", function(){
      rules.style.visibility = "hidden";
    });
  </script>
  </body>
</html>
